Django==2.2.4
mysqlclient==1.4.2
requests==2.18.4
faker==2.0.2
africastalking==1.1.8

# jsonfield==2.0.2

# Jinja2==2.10
# MarkupSafe==1.1.0
# pathlib==1.0.1
# django-jet==1.0.8
# easy-thumbnails==2.5
# raven==6.2.1
# PyExcelerate==0.7.1
